In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("window Func").getOrCreate()

In [0]:
%sql
-- Create the sample employees table
CREATE Table employees (
    id INT,
    name STRING,
    salary DECIMAL(10, 2),
    department STRING,
    gender STRING,
    hire_date DATE
);

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-992396078211867>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-992396078211867>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("LS0gQ3JlYXRlIHRoZSBzYW1wbGUgZW1wbG95ZWVzIHRhYmxlCkNSRUFURSBPUiBSRVBMQUNFIFRFTVAgVklFVyBlbXBsb3llZXMgKAogICAgaWQgSU5ULAogICAgbmFtZSBTVFJJTkcsCiAgICBzYWxhcnkgREVDSU1BTCgxMCwgMiksCiAgICBkZXBhcnRtZW50IFNUUklORywKICAgIGdlbmRlciBTVFJJTkcsCiAgICBoaXJlX2RhdGUgREFURQop").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `default`.`employees` because it already exists.
Choose a different name, drop or replace the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, or add the OR REFRESH clause to refresh the existing streaming table.

In [0]:
%sql
-- Insert sample data into the employees table
INSERT INTO employees VALUES
(1, 'Alice', 70000, 'HR', 'F', '2020-01-15'),
(2, 'Bob', 80000, 'Finance', 'M', '2019-11-10'),
(3, 'Charlie', 90000, 'IT', 'M', '2021-06-05'),
(4, 'Diana', 85000, 'HR', 'F', '2018-03-22'),
(5, 'Evan', 75000, 'Finance', 'M', '2020-07-12'),
(6, 'Fay', 95000, 'IT', 'F', '2021-08-19'),
(7, 'George', 72000, 'HR', 'M', '2020-10-29'),
(8, 'Hannah', 68000, 'Finance', 'F', '2019-09-15'),
(9, 'Ian', 56000, 'IT', 'M', '2021-01-01'),
(10, 'Jane', 79000, 'HR', 'F', '2020-02-25'),
(11, 'Kyle', 82000, 'Finance', 'M', '2020-04-30'),
(12, 'Liam', 91000, 'IT', 'M', '2021-07-07'),
(13, 'Mia', 86000, 'HR', 'F', '2019-08-20'),
(14, 'Nina', 72000, 'Finance', 'F', '2018-05-30'),
(15, 'Oscar', 67000, 'IT', 'M', '2021-02-10'),
(16, 'Paula', 70000, 'HR', 'F', '2021-03-15'),
(17, 'Quincy', 82000, 'Finance', 'M', '2019-12-20'),
(18, 'Rita', 94000, 'IT', 'F', '2020-09-05'),
(19, 'Sam', 89000, 'HR', 'M', '2020-11-18'),
(20, 'Tina', 73000, 'Finance', 'F', '2020-12-25'),
(21, 'Uma', 69000, 'IT', 'F', '2021-05-14'),
(22, 'Victor', 61000, 'HR', 'M', '2018-07-22'),
(23, 'Wendy', 93000, 'Finance', 'F', '2020-06-18'),
(24, 'Xander', 75000, 'IT', 'M', '2019-04-14'),
(25, 'Yara', 87000, 'HR', 'F', '2021-09-01');

num_affected_rows,num_inserted_rows
25,25

In [0]:
%sql
-- Use ROW_NUMBER() to generate row numbers within each department
SELECT
    id,
    name,
    department,
    salary,
    ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS row_num
FROM
    employees;

id,name,department,salary,row_num
23,Wendy,Finance,93000.00,1
11,Kyle,Finance,82000.00,2
17,Quincy,Finance,82000.00,3
2,Bob,Finance,80000.00,4
5,Evan,Finance,75000.00,5
20,Tina,Finance,73000.00,6
14,Nina,Finance,72000.00,7
8,Hannah,Finance,68000.00,8
19,Sam,HR,89000.00,1
25,Yara,HR,87000.00,2
13,Mia,HR,86000.00,3
4,Diana,HR,85000.00,4
10,Jane,HR,79000.00,5
7,George,HR,72000.00,6
1,Alice,HR,70000.00,7
16,Paula,HR,70000.00,8
22,Victor,HR,61000.00,9
6,Fay,IT,95000.00,1
18,Rita,IT,94000.00,2
12,Liam,IT,91000.00,3
3,Charlie,IT,90000.00,4
24,Xander,IT,75000.00,5
21,Uma,IT,69000.00,6
15,Oscar,IT,67000.00,7
9,Ian,IT,56000.00,8

In [0]:
%sql
-- Use RANK() to rank employees within each department by salary
SELECT
    id,
    name,
    department,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
FROM
    employees;

id,name,department,salary,rank
23,Wendy,Finance,93000.00,1
11,Kyle,Finance,82000.00,2
17,Quincy,Finance,82000.00,2
2,Bob,Finance,80000.00,4
5,Evan,Finance,75000.00,5
20,Tina,Finance,73000.00,6
14,Nina,Finance,72000.00,7
8,Hannah,Finance,68000.00,8
19,Sam,HR,89000.00,1
25,Yara,HR,87000.00,2
13,Mia,HR,86000.00,3
4,Diana,HR,85000.00,4
10,Jane,HR,79000.00,5
7,George,HR,72000.00,6
1,Alice,HR,70000.00,7
16,Paula,HR,70000.00,7
22,Victor,HR,61000.00,9
6,Fay,IT,95000.00,1
18,Rita,IT,94000.00,2
12,Liam,IT,91000.00,3
3,Charlie,IT,90000.00,4
24,Xander,IT,75000.00,5
21,Uma,IT,69000.00,6
15,Oscar,IT,67000.00,7
9,Ian,IT,56000.00,8

In [0]:
%sql
-- Calculate a cumulative sum of salary for each department
SELECT
    id,
    name,
    department,
    salary,
    SUM(salary) OVER (PARTITION BY department ORDER BY hire_date) AS cumulative_salary
FROM
    employees;

id,name,department,salary,cumulative_salary
14,Nina,Finance,72000.00,72000.00
8,Hannah,Finance,68000.00,140000.00
2,Bob,Finance,80000.00,220000.00
17,Quincy,Finance,82000.00,302000.00
11,Kyle,Finance,82000.00,384000.00
23,Wendy,Finance,93000.00,477000.00
5,Evan,Finance,75000.00,552000.00
20,Tina,Finance,73000.00,625000.00
4,Diana,HR,85000.00,85000.00
22,Victor,HR,61000.00,146000.00
13,Mia,HR,86000.00,232000.00
1,Alice,HR,70000.00,302000.00
10,Jane,HR,79000.00,381000.00
7,George,HR,72000.00,453000.00
19,Sam,HR,89000.00,542000.00
16,Paula,HR,70000.00,612000.00
25,Yara,HR,87000.00,699000.00
24,Xander,IT,75000.00,75000.00
18,Rita,IT,94000.00,169000.00
9,Ian,IT,56000.00,225000.00
15,Oscar,IT,67000.00,292000.00
21,Uma,IT,69000.00,361000.00
3,Charlie,IT,90000.00,451000.00
12,Liam,IT,91000.00,542000.00
6,Fay,IT,95000.00,637000.00

In [0]:
%sql
-- Use LAG() to show each employee's hire date and the hire date of the previous employee
SELECT
    id,
    name,
    hire_date,
    LAG(hire_date, 1) OVER (ORDER BY hire_date) AS previous_hire_date
FROM
    employees;

id,name,hire_date,previous_hire_date
4,Diana,2018-03-22,null
14,Nina,2018-05-30,2018-03-22
22,Victor,2018-07-22,2018-05-30
24,Xander,2019-04-14,2018-07-22
13,Mia,2019-08-20,2019-04-14
8,Hannah,2019-09-15,2019-08-20
2,Bob,2019-11-10,2019-09-15
17,Quincy,2019-12-20,2019-11-10
1,Alice,2020-01-15,2019-12-20
10,Jane,2020-02-25,2020-01-15
11,Kyle,2020-04-30,2020-02-25
23,Wendy,2020-06-18,2020-04-30
5,Evan,2020-07-12,2020-06-18
18,Rita,2020-09-05,2020-07-12
7,George,2020-10-29,2020-09-05
19,Sam,2020-11-18,2020-10-29
20,Tina,2020-12-25,2020-11-18
9,Ian,2021-01-01,2020-12-25
15,Oscar,2021-02-10,2021-01-01
16,Paula,2021-03-15,2021-02-10
21,Uma,2021-05-14,2021-03-15
3,Charlie,2021-06-05,2021-05-14
12,Liam,2021-07-07,2021-06-05
6,Fay,2021-08-19,2021-07-07
25,Yara,2021-09-01,2021-08-19

In [0]:
%sql
-- Calculate a moving average of salary over the current row and the two preceding rows
SELECT
    id,
    name,
    hire_date,
    salary,
    AVG(salary) OVER (ORDER BY hire_date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg_salary
FROM
    employees
ORDER BY
    hire_date;

id,name,hire_date,salary,moving_avg_salary
4,Diana,2018-03-22,85000.00,85000.000000
14,Nina,2018-05-30,72000.00,78500.000000
22,Victor,2018-07-22,61000.00,72666.666667
24,Xander,2019-04-14,75000.00,69333.333333
13,Mia,2019-08-20,86000.00,74000.000000
8,Hannah,2019-09-15,68000.00,76333.333333
2,Bob,2019-11-10,80000.00,78000.000000
17,Quincy,2019-12-20,82000.00,76666.666667
1,Alice,2020-01-15,70000.00,77333.333333
10,Jane,2020-02-25,79000.00,77000.000000
11,Kyle,2020-04-30,82000.00,77000.000000
23,Wendy,2020-06-18,93000.00,84666.666667
5,Evan,2020-07-12,75000.00,83333.333333
18,Rita,2020-09-05,94000.00,87333.333333
7,George,2020-10-29,72000.00,80333.333333
19,Sam,2020-11-18,89000.00,85000.000000
20,Tina,2020-12-25,73000.00,78000.000000
9,Ian,2021-01-01,56000.00,72666.666667
15,Oscar,2021-02-10,67000.00,65333.333333
16,Paula,2021-03-15,70000.00,64333.333333
21,Uma,2021-05-14,69000.00,68666.666667
3,Charlie,2021-06-05,90000.00,76333.333333
12,Liam,2021-07-07,91000.00,83333.333333
6,Fay,2021-08-19,95000.00,92000.000000
25,Yara,2021-09-01,87000.00,91000.000000

In [0]:
%sql
-- Use DENSE_RANK() to rank employees within each department by salary
SELECT
    id,
    name,
    department,
    salary,
    DENSE_RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dense_rank
FROM
    employees;

id,name,department,salary,dense_rank
23,Wendy,Finance,93000.00,1
11,Kyle,Finance,82000.00,2
17,Quincy,Finance,82000.00,2
2,Bob,Finance,80000.00,3
5,Evan,Finance,75000.00,4
20,Tina,Finance,73000.00,5
14,Nina,Finance,72000.00,6
8,Hannah,Finance,68000.00,7
19,Sam,HR,89000.00,1
25,Yara,HR,87000.00,2
13,Mia,HR,86000.00,3
4,Diana,HR,85000.00,4
10,Jane,HR,79000.00,5
7,George,HR,72000.00,6
1,Alice,HR,70000.00,7
16,Paula,HR,70000.00,7
22,Victor,HR,61000.00,8
6,Fay,IT,95000.00,1
18,Rita,IT,94000.00,2
12,Liam,IT,91000.00,3
3,Charlie,IT,90000.00,4
24,Xander,IT,75000.00,5
21,Uma,IT,69000.00,6
15,Oscar,IT,67000.00,7
9,Ian,IT,56000.00,8

In [0]:
%sql
-- Divide employees into 4 buckets based on their salary within each department
SELECT
    id,
    name,
    department,
    salary,
    NTILE(4) OVER (PARTITION BY department ORDER BY salary DESC) AS salary_bucket
FROM
    employees;

id,name,department,salary,salary_bucket
23,Wendy,Finance,93000.00,1
11,Kyle,Finance,82000.00,1
17,Quincy,Finance,82000.00,2
2,Bob,Finance,80000.00,2
5,Evan,Finance,75000.00,3
20,Tina,Finance,73000.00,3
14,Nina,Finance,72000.00,4
8,Hannah,Finance,68000.00,4
19,Sam,HR,89000.00,1
25,Yara,HR,87000.00,1
13,Mia,HR,86000.00,1
4,Diana,HR,85000.00,2
10,Jane,HR,79000.00,2
7,George,HR,72000.00,3
1,Alice,HR,70000.00,3
16,Paula,HR,70000.00,4
22,Victor,HR,61000.00,4
6,Fay,IT,95000.00,1
18,Rita,IT,94000.00,1
12,Liam,IT,91000.00,2
3,Charlie,IT,90000.00,2
24,Xander,IT,75000.00,3
21,Uma,IT,69000.00,3
15,Oscar,IT,67000.00,4
9,Ian,IT,56000.00,4

In [0]:
%sql
-- Use LEAD() to show each employee's salary and the next employee's salary in the department
SELECT
    id,
    name,
    department,
    salary,
    LEAD(salary, 1) OVER (PARTITION BY department ORDER BY salary DESC) AS next_salary
FROM
    employees;

id,name,department,salary,next_salary
23,Wendy,Finance,93000.00,82000.00
11,Kyle,Finance,82000.00,82000.00
17,Quincy,Finance,82000.00,80000.00
2,Bob,Finance,80000.00,75000.00
5,Evan,Finance,75000.00,73000.00
20,Tina,Finance,73000.00,72000.00
14,Nina,Finance,72000.00,68000.00
8,Hannah,Finance,68000.00,null
19,Sam,HR,89000.00,87000.00
25,Yara,HR,87000.00,86000.00
13,Mia,HR,86000.00,85000.00
4,Diana,HR,85000.00,79000.00
10,Jane,HR,79000.00,72000.00
7,George,HR,72000.00,70000.00
1,Alice,HR,70000.00,70000.00
16,Paula,HR,70000.00,61000.00
22,Victor,HR,61000.00,null
6,Fay,IT,95000.00,94000.00
18,Rita,IT,94000.00,91000.00
12,Liam,IT,91000.00,90000.00
3,Charlie,IT,90000.00,75000.00
24,Xander,IT,75000.00,69000.00
21,Uma,IT,69000.00,67000.00
15,Oscar,IT,67000.00,56000.00
9,Ian,IT,56000.00,null

In [0]:
%sql
-- Find the first and last hired employee's salary within each department
SELECT
    id,
    name,
    department,
    salary,
    FIRST_VALUE(salary) OVER (PARTITION BY department ORDER BY hire_date) AS first_salary,
    LAST_VALUE(salary) OVER (PARTITION BY department ORDER BY hire_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_salary
FROM
    employees;

id,name,department,salary,first_salary,last_salary
14,Nina,Finance,72000.00,72000.00,73000.00
8,Hannah,Finance,68000.00,72000.00,73000.00
2,Bob,Finance,80000.00,72000.00,73000.00
17,Quincy,Finance,82000.00,72000.00,73000.00
11,Kyle,Finance,82000.00,72000.00,73000.00
23,Wendy,Finance,93000.00,72000.00,73000.00
5,Evan,Finance,75000.00,72000.00,73000.00
20,Tina,Finance,73000.00,72000.00,73000.00
4,Diana,HR,85000.00,85000.00,87000.00
22,Victor,HR,61000.00,85000.00,87000.00
13,Mia,HR,86000.00,85000.00,87000.00
1,Alice,HR,70000.00,85000.00,87000.00
10,Jane,HR,79000.00,85000.00,87000.00
7,George,HR,72000.00,85000.00,87000.00
19,Sam,HR,89000.00,85000.00,87000.00
16,Paula,HR,70000.00,85000.00,87000.00
25,Yara,HR,87000.00,85000.00,87000.00
24,Xander,IT,75000.00,75000.00,95000.00
18,Rita,IT,94000.00,75000.00,95000.00
9,Ian,IT,56000.00,75000.00,95000.00
15,Oscar,IT,67000.00,75000.00,95000.00
21,Uma,IT,69000.00,75000.00,95000.00
3,Charlie,IT,90000.00,75000.00,95000.00
12,Liam,IT,91000.00,75000.00,95000.00
6,Fay,IT,95000.00,75000.00,95000.00

In [0]:
%sql
-- Calculate the relative rank of each employee's salary within their department
SELECT
    id,
    name,
    department,
    salary,
    PERCENT_RANK() OVER (PARTITION BY department ORDER BY salary) AS percent_rank
FROM
    employees;

id,name,department,salary,percent_rank
8,Hannah,Finance,68000.00,0.0
14,Nina,Finance,72000.00,0.14285714285714285
20,Tina,Finance,73000.00,0.2857142857142857
5,Evan,Finance,75000.00,0.42857142857142855
2,Bob,Finance,80000.00,0.5714285714285714
11,Kyle,Finance,82000.00,0.7142857142857143
17,Quincy,Finance,82000.00,0.7142857142857143
23,Wendy,Finance,93000.00,1.0
22,Victor,HR,61000.00,0.0
1,Alice,HR,70000.00,0.125
16,Paula,HR,70000.00,0.125
7,George,HR,72000.00,0.375
10,Jane,HR,79000.00,0.5
4,Diana,HR,85000.00,0.625
13,Mia,HR,86000.00,0.75
25,Yara,HR,87000.00,0.875
19,Sam,HR,89000.00,1.0
9,Ian,IT,56000.00,0.0
15,Oscar,IT,67000.00,0.14285714285714285
21,Uma,IT,69000.00,0.2857142857142857
24,Xander,IT,75000.00,0.42857142857142855
3,Charlie,IT,90000.00,0.5714285714285714
12,Liam,IT,91000.00,0.7142857142857143
18,Rita,IT,94000.00,0.8571428571428571
6,Fay,IT,95000.00,1.0

In [0]:
%sql
-- Calculate the cumulative distribution of salaries within each department
SELECT
    id,
    name,
    department,
    salary,
    CUME_DIST() OVER (PARTITION BY department ORDER BY salary) AS cumulative_distribution
FROM
    employees;

id,name,department,salary,cumulative_distribution
8,Hannah,Finance,68000.00,0.125
14,Nina,Finance,72000.00,0.25
20,Tina,Finance,73000.00,0.375
5,Evan,Finance,75000.00,0.5
2,Bob,Finance,80000.00,0.625
11,Kyle,Finance,82000.00,0.875
17,Quincy,Finance,82000.00,0.875
23,Wendy,Finance,93000.00,1.0
22,Victor,HR,61000.00,0.1111111111111111
1,Alice,HR,70000.00,0.3333333333333333
16,Paula,HR,70000.00,0.3333333333333333
7,George,HR,72000.00,0.4444444444444444
10,Jane,HR,79000.00,0.5555555555555556
4,Diana,HR,85000.00,0.6666666666666666
13,Mia,HR,86000.00,0.7777777777777778
25,Yara,HR,87000.00,0.8888888888888888
19,Sam,HR,89000.00,1.0
9,Ian,IT,56000.00,0.125
15,Oscar,IT,67000.00,0.25
21,Uma,IT,69000.00,0.375
24,Xander,IT,75000.00,0.5
3,Charlie,IT,90000.00,0.625
12,Liam,IT,91000.00,0.75
18,Rita,IT,94000.00,0.875
6,Fay,IT,95000.00,1.0

In [0]:

%sql

# Create the sample employees table
CREATE Table employees (
    id INT,
    name STRING,
    salary DECIMAL(10, 2),
    department STRING,
    gender STRING,
    hire_date DATE
);


-- Insert sample data into the employees table
INSERT INTO employees VALUES
(1, 'Alice', 70000, 'HR', 'F', '2020-01-15'),
(2, 'Bob', 80000, 'Finance', 'M', '2019-11-10'),
(3, 'Charlie', 90000, 'IT', 'M', '2021-06-05'),
(4, 'Diana', 85000, 'HR', 'F', '2018-03-22'),
(5, 'Evan', 75000, 'Finance', 'M', '2020-07-12'),
(6, 'Fay', 95000, 'IT', 'F', '2021-08-19'),
(7, 'George', 72000, 'HR', 'M', '2020-10-29'),
(8, 'Hannah', 68000, 'Finance', 'F', '2019-09-15'),
(9, 'Ian', 56000, 'IT', 'M', '2021-01-01'),
(10, 'Jane', 79000, 'HR', 'F', '2020-02-25'),
(11, 'Kyle', 82000, 'Finance', 'M', '2020-04-30'),
(12, 'Liam', 91000, 'IT', 'M', '2021-07-07'),
(13, 'Mia', 86000, 'HR', 'F', '2019-08-20'),
(14, 'Nina', 72000, 'Finance', 'F', '2018-05-30'),
(15, 'Oscar', 67000, 'IT', 'M', '2021-02-10'),
(16, 'Paula', 70000, 'HR', 'F', '2021-03-15'),
(17, 'Quincy', 82000, 'Finance', 'M', '2019-12-20'),
(18, 'Rita', 94000, 'IT', 'F', '2020-09-05'),
(19, 'Sam', 89000, 'HR', 'M', '2020-11-18'),
(20, 'Tina', 73000, 'Finance', 'F', '2020-12-25'),
(21, 'Uma', 69000, 'IT', 'F', '2021-05-14'),
(22, 'Victor', 61000, 'HR', 'M', '2018-07-22'),
(23, 'Wendy', 93000, 'Finance', 'F', '2020-06-18'),
(24, 'Xander', 75000, 'IT', 'M', '2019-04-14'),
(25, 'Yara', 87000, 'HR', 'F', '2021-09-01');


-- Use ROW_NUMBER() to generate row numbers within each department
SELECT
    id,
    name,
    department,
    salary,
    ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS row_num
FROM
    employees;



-- Use RANK() to rank employees within each department by salary
SELECT
    id,
    name,
    department,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
FROM
    employees;


-- Calculate a cumulative sum of salary for each department
SELECT
    id,
    name,
    department,
    salary,
    SUM(salary) OVER (PARTITION BY department ORDER BY hire_date) AS cumulative_salary
FROM
    employees;


-- Use LAG() to show each employee's hire date and the hire date of the previous employee
SELECT
    id,
    name,
    hire_date,
    LAG(hire_date, 1) OVER (ORDER BY hire_date) AS previous_hire_date
FROM
    employees;


-- Calculate a moving average of salary over the current row and the two preceding rows
SELECT
    id,
    name,
    hire_date,
    salary,
    AVG(salary) OVER (ORDER BY hire_date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg_salary
FROM
    employees
ORDER BY
    hire_date;



-- Use DENSE_RANK() to rank employees within each department by salary
SELECT
    id,
    name,
    department,
    salary,
    DENSE_RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dense_rank
FROM
    employees;


-- Divide employees into 4 buckets based on their salary within each department
SELECT
    id,
    name,
    department,
    salary,
    NTILE(4) OVER (PARTITION BY department ORDER BY salary DESC) AS salary_bucket
FROM
    employees;


-- Find the first and last hired employee's salary within each department
SELECT
    id,
    name,
    department,
    salary,
    FIRST_VALUE(salary) OVER (PARTITION BY department ORDER BY hire_date) AS first_salary,
    LAST_VALUE(salary) OVER (PARTITION BY department ORDER BY hire_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_salary
FROM
    employees;


-- Calculate the relative rank of each employee's salary within their department
SELECT
    id,
    name,
    department,
    salary,
    PERCENT_RANK() OVER (PARTITION BY department ORDER BY salary) AS percent_rank
FROM
    employees;


-- Calculate the cumulative distribution of salaries within each department
SELECT
    id,
    name,
    department,
    salary,
    CUME_DIST() OVER (PARTITION BY department ORDER BY salary) AS cumulative_distribution
FROM
    employees;

id,name,department,salary,cumulative_distribution
8,Hannah,Finance,68000.00,0.125
14,Nina,Finance,72000.00,0.25
20,Tina,Finance,73000.00,0.375
5,Evan,Finance,75000.00,0.5
2,Bob,Finance,80000.00,0.625
11,Kyle,Finance,82000.00,0.875
17,Quincy,Finance,82000.00,0.875
23,Wendy,Finance,93000.00,1.0
22,Victor,HR,61000.00,0.1111111111111111
1,Alice,HR,70000.00,0.3333333333333333
16,Paula,HR,70000.00,0.3333333333333333
7,George,HR,72000.00,0.4444444444444444
10,Jane,HR,79000.00,0.5555555555555556
4,Diana,HR,85000.00,0.6666666666666666
13,Mia,HR,86000.00,0.7777777777777778
25,Yara,HR,87000.00,0.8888888888888888
19,Sam,HR,89000.00,1.0
9,Ian,IT,56000.00,0.125
15,Oscar,IT,67000.00,0.25
21,Uma,IT,69000.00,0.375
24,Xander,IT,75000.00,0.5
3,Charlie,IT,90000.00,0.625
12,Liam,IT,91000.00,0.75
18,Rita,IT,94000.00,0.875
6,Fay,IT,95000.00,1.0