In [0]:
%sql
-- creating table

CREATE TABLE employees (
    id INT ,
    name VARCHAR(50),
    gender CHAR(1),
    salary DECIMAL(10, 2),
    department VARCHAR(50),
    hired_date DATE
);

In [0]:
%sql
INSERT INTO employees (id, name, gender, salary, department, hired_date) VALUES
(1, 'Alice', 'F', 70000.00, 'HR', '2022-01-15'),
(2, 'Bob', 'M', 80000.00, 'IT', '2021-03-22'),
(3, 'Charlie', 'M', 90000.00, 'Finance', '2020-07-10'),
(4, 'David', 'M', 60000.00, 'HR', '2019-12-01'),
(5, 'Eva', 'F', 75000.00, 'IT', '2022-05-14'),
(6, 'Frank', 'M', 85000.00, 'Finance', '2021-08-20'),
(7, 'Grace', 'F', 72000.00, 'Marketing', '2022-09-30'),
(8, 'Hank', 'M', 69000.00, 'HR', '2020-11-23'),
(9, 'Ivy', 'F', 78000.00, 'IT', '2023-01-10'),
(10, 'Jack', 'M', 81000.00, 'Finance', '2021-06-05'),
(11, 'Kelly', 'F', 70000.00, 'Marketing', '2022-02-18'),
(12, 'Liam', 'M', 62000.00, 'HR', '2019-10-12'),
(13, 'Mona', 'F', 73000.00, 'IT', '2021-11-25'),
(14, 'Nate', 'M', 67000.00, 'Finance', '2022-04-08'),
(15, 'Olivia', 'F', 75000.00, 'Marketing', '2022-03-30'),
(16, 'Paul', 'M', 68000.00, 'HR', '2020-05-19'),
(17, 'Quinn', 'F', 74000.00, 'IT', '2022-08-12'),
(18, 'Rachel', 'F', 77000.00, 'Finance', '2021-07-15'),
(19, 'Sam', 'M', 72000.00, 'Marketing', '2022-06-01'),
(20, 'Tina', 'F', 80000.00, 'IT', '2023-02-25');

num_affected_rows,num_inserted_rows
20,20

In [0]:
%sql
select * from employees;

id,name,gender,salary,department,hired_date
1,Alice,F,70000.00,HR,2022-01-15
2,Bob,M,80000.00,IT,2021-03-22
3,Charlie,M,90000.00,Finance,2020-07-10
4,David,M,60000.00,HR,2019-12-01
5,Eva,F,75000.00,IT,2022-05-14
6,Frank,M,85000.00,Finance,2021-08-20
7,Grace,F,72000.00,Marketing,2022-09-30
8,Hank,M,69000.00,HR,2020-11-23
9,Ivy,F,78000.00,IT,2023-01-10
10,Jack,M,81000.00,Finance,2021-06-05
11,Kelly,F,70000.00,Marketing,2022-02-18
12,Liam,M,62000.00,HR,2019-10-12
13,Mona,F,73000.00,IT,2021-11-25
14,Nate,M,67000.00,Finance,2022-04-08
15,Olivia,F,75000.00,Marketing,2022-03-30
16,Paul,M,68000.00,HR,2020-05-19
17,Quinn,F,74000.00,IT,2022-08-12
18,Rachel,F,77000.00,Finance,2021-07-15
19,Sam,M,72000.00,Marketing,2022-06-01
20,Tina,F,80000.00,IT,2023-02-25

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary) AS row_number
FROM
    employees;

id,name,department,salary,row_number
14,Nate,Finance,67000.00,1
18,Rachel,Finance,77000.00,2
10,Jack,Finance,81000.00,3
6,Frank,Finance,85000.00,4
3,Charlie,Finance,90000.00,5
4,David,HR,60000.00,1
12,Liam,HR,62000.00,2
16,Paul,HR,68000.00,3
8,Hank,HR,69000.00,4
1,Alice,HR,70000.00,5
13,Mona,IT,73000.00,1
17,Quinn,IT,74000.00,2
5,Eva,IT,75000.00,3
9,Ivy,IT,78000.00,4
2,Bob,IT,80000.00,5
20,Tina,IT,80000.00,6
11,Kelly,Marketing,70000.00,1
7,Grace,Marketing,72000.00,2
19,Sam,Marketing,72000.00,3
15,Olivia,Marketing,75000.00,4

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
FROM
    employees;

id,name,department,salary,rank
3,Charlie,Finance,90000.00,1
6,Frank,Finance,85000.00,2
10,Jack,Finance,81000.00,3
18,Rachel,Finance,77000.00,4
14,Nate,Finance,67000.00,5
1,Alice,HR,70000.00,1
8,Hank,HR,69000.00,2
16,Paul,HR,68000.00,3
12,Liam,HR,62000.00,4
4,David,HR,60000.00,5
2,Bob,IT,80000.00,1
20,Tina,IT,80000.00,1
9,Ivy,IT,78000.00,3
5,Eva,IT,75000.00,4
17,Quinn,IT,74000.00,5
13,Mona,IT,73000.00,6
15,Olivia,Marketing,75000.00,1
7,Grace,Marketing,72000.00,2
19,Sam,Marketing,72000.00,2
11,Kelly,Marketing,70000.00,4

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    DENSE_RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dense_rank
FROM
    employees;

id,name,department,salary,dense_rank
3,Charlie,Finance,90000.00,1
6,Frank,Finance,85000.00,2
10,Jack,Finance,81000.00,3
18,Rachel,Finance,77000.00,4
14,Nate,Finance,67000.00,5
1,Alice,HR,70000.00,1
8,Hank,HR,69000.00,2
16,Paul,HR,68000.00,3
12,Liam,HR,62000.00,4
4,David,HR,60000.00,5
2,Bob,IT,80000.00,1
20,Tina,IT,80000.00,1
9,Ivy,IT,78000.00,2
5,Eva,IT,75000.00,3
17,Quinn,IT,74000.00,4
13,Mona,IT,73000.00,5
15,Olivia,Marketing,75000.00,1
7,Grace,Marketing,72000.00,2
19,Sam,Marketing,72000.00,2
11,Kelly,Marketing,70000.00,3

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    SUM(salary) OVER (PARTITION BY department ORDER BY salary ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS cumulative_sum
FROM
    employees;

id,name,department,salary,cumulative_sum
14,Nate,Finance,67000.00,67000.00
18,Rachel,Finance,77000.00,144000.00
10,Jack,Finance,81000.00,225000.00
6,Frank,Finance,85000.00,310000.00
3,Charlie,Finance,90000.00,400000.00
4,David,HR,60000.00,60000.00
12,Liam,HR,62000.00,122000.00
16,Paul,HR,68000.00,190000.00
8,Hank,HR,69000.00,259000.00
1,Alice,HR,70000.00,329000.00
13,Mona,IT,73000.00,73000.00
17,Quinn,IT,74000.00,147000.00
5,Eva,IT,75000.00,222000.00
9,Ivy,IT,78000.00,300000.00
2,Bob,IT,80000.00,380000.00
20,Tina,IT,80000.00,460000.00
11,Kelly,Marketing,70000.00,70000.00
7,Grace,Marketing,72000.00,142000.00
19,Sam,Marketing,72000.00,214000.00
15,Olivia,Marketing,75000.00,289000.00

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    AVG(salary) OVER (PARTITION BY department) AS average_salary
FROM
    employees;

id,name,department,salary,average_salary
3,Charlie,Finance,90000.00,80000.000000
6,Frank,Finance,85000.00,80000.000000
10,Jack,Finance,81000.00,80000.000000
14,Nate,Finance,67000.00,80000.000000
18,Rachel,Finance,77000.00,80000.000000
1,Alice,HR,70000.00,65800.000000
4,David,HR,60000.00,65800.000000
8,Hank,HR,69000.00,65800.000000
12,Liam,HR,62000.00,65800.000000
16,Paul,HR,68000.00,65800.000000
2,Bob,IT,80000.00,76666.666667
5,Eva,IT,75000.00,76666.666667
9,Ivy,IT,78000.00,76666.666667
13,Mona,IT,73000.00,76666.666667
17,Quinn,IT,74000.00,76666.666667
20,Tina,IT,80000.00,76666.666667
7,Grace,Marketing,72000.00,72250.000000
11,Kelly,Marketing,70000.00,72250.000000
15,Olivia,Marketing,75000.00,72250.000000
19,Sam,Marketing,72000.00,72250.000000

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    LAG(salary, 1) OVER (PARTITION BY department ORDER BY salary) AS prev_salary,
    LEAD(salary, 1) OVER (PARTITION BY department ORDER BY salary) AS next_salary
FROM
    employees;

id,name,department,salary,prev_salary,next_salary
14,Nate,Finance,67000.00,null,77000.00
18,Rachel,Finance,77000.00,67000.00,81000.00
10,Jack,Finance,81000.00,77000.00,85000.00
6,Frank,Finance,85000.00,81000.00,90000.00
3,Charlie,Finance,90000.00,85000.00,null
4,David,HR,60000.00,null,62000.00
12,Liam,HR,62000.00,60000.00,68000.00
16,Paul,HR,68000.00,62000.00,69000.00
8,Hank,HR,69000.00,68000.00,70000.00
1,Alice,HR,70000.00,69000.00,null
13,Mona,IT,73000.00,null,74000.00
17,Quinn,IT,74000.00,73000.00,75000.00
5,Eva,IT,75000.00,74000.00,78000.00
9,Ivy,IT,78000.00,75000.00,80000.00
2,Bob,IT,80000.00,78000.00,80000.00
20,Tina,IT,80000.00,80000.00,null
11,Kelly,Marketing,70000.00,null,72000.00
7,Grace,Marketing,72000.00,70000.00,72000.00
19,Sam,Marketing,72000.00,72000.00,75000.00
15,Olivia,Marketing,75000.00,72000.00,null

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    NTILE(4) OVER (PARTITION BY department ORDER BY salary DESC) AS quartile
FROM
    employees;

id,name,department,salary,quartile
3,Charlie,Finance,90000.00,1
6,Frank,Finance,85000.00,1
10,Jack,Finance,81000.00,2
18,Rachel,Finance,77000.00,3
14,Nate,Finance,67000.00,4
1,Alice,HR,70000.00,1
8,Hank,HR,69000.00,1
16,Paul,HR,68000.00,2
12,Liam,HR,62000.00,3
4,David,HR,60000.00,4
2,Bob,IT,80000.00,1
20,Tina,IT,80000.00,1
9,Ivy,IT,78000.00,2
5,Eva,IT,75000.00,2
17,Quinn,IT,74000.00,3
13,Mona,IT,73000.00,4
15,Olivia,Marketing,75000.00,1
7,Grace,Marketing,72000.00,2
19,Sam,Marketing,72000.00,3
11,Kelly,Marketing,70000.00,4

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    CUME_DIST() OVER (PARTITION BY department ORDER BY salary) AS cum_dist
FROM
    employees;

id,name,department,salary,cum_dist
14,Nate,Finance,67000.00,0.2
18,Rachel,Finance,77000.00,0.4
10,Jack,Finance,81000.00,0.6
6,Frank,Finance,85000.00,0.8
3,Charlie,Finance,90000.00,1.0
4,David,HR,60000.00,0.2
12,Liam,HR,62000.00,0.4
16,Paul,HR,68000.00,0.6
8,Hank,HR,69000.00,0.8
1,Alice,HR,70000.00,1.0
13,Mona,IT,73000.00,0.16666666666666666
17,Quinn,IT,74000.00,0.3333333333333333
5,Eva,IT,75000.00,0.5
9,Ivy,IT,78000.00,0.6666666666666666
2,Bob,IT,80000.00,1.0
20,Tina,IT,80000.00,1.0
11,Kelly,Marketing,70000.00,0.25
7,Grace,Marketing,72000.00,0.75
19,Sam,Marketing,72000.00,0.75
15,Olivia,Marketing,75000.00,1.0

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    PERCENT_RANK() OVER (PARTITION BY department ORDER BY salary) AS percent_rank
FROM
    employees;

id,name,department,salary,percent_rank
14,Nate,Finance,67000.00,0.0
18,Rachel,Finance,77000.00,0.25
10,Jack,Finance,81000.00,0.5
6,Frank,Finance,85000.00,0.75
3,Charlie,Finance,90000.00,1.0
4,David,HR,60000.00,0.0
12,Liam,HR,62000.00,0.25
16,Paul,HR,68000.00,0.5
8,Hank,HR,69000.00,0.75
1,Alice,HR,70000.00,1.0
13,Mona,IT,73000.00,0.0
17,Quinn,IT,74000.00,0.2
5,Eva,IT,75000.00,0.4
9,Ivy,IT,78000.00,0.6
2,Bob,IT,80000.00,0.8
20,Tina,IT,80000.00,0.8
11,Kelly,Marketing,70000.00,0.0
7,Grace,Marketing,72000.00,0.3333333333333333
19,Sam,Marketing,72000.00,0.3333333333333333
15,Olivia,Marketing,75000.00,1.0

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    FIRST_VALUE(salary) OVER (PARTITION BY department ORDER BY salary) AS first_salary,
    LAST_VALUE(salary) OVER (PARTITION BY department ORDER BY salary RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_salary
FROM
    employees;

id,name,department,salary,first_salary,last_salary
14,Nate,Finance,67000.00,67000.00,90000.00
18,Rachel,Finance,77000.00,67000.00,90000.00
10,Jack,Finance,81000.00,67000.00,90000.00
6,Frank,Finance,85000.00,67000.00,90000.00
3,Charlie,Finance,90000.00,67000.00,90000.00
4,David,HR,60000.00,60000.00,70000.00
12,Liam,HR,62000.00,60000.00,70000.00
16,Paul,HR,68000.00,60000.00,70000.00
8,Hank,HR,69000.00,60000.00,70000.00
1,Alice,HR,70000.00,60000.00,70000.00
13,Mona,IT,73000.00,73000.00,80000.00
17,Quinn,IT,74000.00,73000.00,80000.00
5,Eva,IT,75000.00,73000.00,80000.00
9,Ivy,IT,78000.00,73000.00,80000.00
2,Bob,IT,80000.00,73000.00,80000.00
20,Tina,IT,80000.00,73000.00,80000.00
11,Kelly,Marketing,70000.00,70000.00,75000.00
7,Grace,Marketing,72000.00,70000.00,75000.00
19,Sam,Marketing,72000.00,70000.00,75000.00
15,Olivia,Marketing,75000.00,70000.00,75000.00

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    MIN(salary) OVER (PARTITION BY department) AS min_salary
FROM
    employees;

id,name,department,salary,min_salary
3,Charlie,Finance,90000.00,67000.00
6,Frank,Finance,85000.00,67000.00
10,Jack,Finance,81000.00,67000.00
14,Nate,Finance,67000.00,67000.00
18,Rachel,Finance,77000.00,67000.00
1,Alice,HR,70000.00,60000.00
4,David,HR,60000.00,60000.00
8,Hank,HR,69000.00,60000.00
12,Liam,HR,62000.00,60000.00
16,Paul,HR,68000.00,60000.00
2,Bob,IT,80000.00,73000.00
5,Eva,IT,75000.00,73000.00
9,Ivy,IT,78000.00,73000.00
13,Mona,IT,73000.00,73000.00
17,Quinn,IT,74000.00,73000.00
20,Tina,IT,80000.00,73000.00
7,Grace,Marketing,72000.00,70000.00
11,Kelly,Marketing,70000.00,70000.00
15,Olivia,Marketing,75000.00,70000.00
19,Sam,Marketing,72000.00,70000.00

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    MAX(salary) OVER (PARTITION BY department) AS max_salary
FROM
    employees;

id,name,department,salary,max_salary
3,Charlie,Finance,90000.00,90000.00
6,Frank,Finance,85000.00,90000.00
10,Jack,Finance,81000.00,90000.00
14,Nate,Finance,67000.00,90000.00
18,Rachel,Finance,77000.00,90000.00
1,Alice,HR,70000.00,70000.00
4,David,HR,60000.00,70000.00
8,Hank,HR,69000.00,70000.00
12,Liam,HR,62000.00,70000.00
16,Paul,HR,68000.00,70000.00
2,Bob,IT,80000.00,80000.00
5,Eva,IT,75000.00,80000.00
9,Ivy,IT,78000.00,80000.00
13,Mona,IT,73000.00,80000.00
17,Quinn,IT,74000.00,80000.00
20,Tina,IT,80000.00,80000.00
7,Grace,Marketing,72000.00,75000.00
11,Kelly,Marketing,70000.00,75000.00
15,Olivia,Marketing,75000.00,75000.00
19,Sam,Marketing,72000.00,75000.00

In [0]:
%sql
SELECT
    id,
    name,
    department,
    salary,
    COUNT(*) OVER (PARTITION BY department) AS department_count
FROM
    employees;

id,name,department,salary,department_count
3,Charlie,Finance,90000.00,5
6,Frank,Finance,85000.00,5
10,Jack,Finance,81000.00,5
14,Nate,Finance,67000.00,5
18,Rachel,Finance,77000.00,5
1,Alice,HR,70000.00,5
4,David,HR,60000.00,5
8,Hank,HR,69000.00,5
12,Liam,HR,62000.00,5
16,Paul,HR,68000.00,5
2,Bob,IT,80000.00,6
5,Eva,IT,75000.00,6
9,Ivy,IT,78000.00,6
13,Mona,IT,73000.00,6
17,Quinn,IT,74000.00,6
20,Tina,IT,80000.00,6
7,Grace,Marketing,72000.00,4
11,Kelly,Marketing,70000.00,4
15,Olivia,Marketing,75000.00,4
19,Sam,Marketing,72000.00,4